* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.main_box {
    background: url(photo\ \(1\).jpg);
    height: 100vh;
    background-size: cover;
}

.btn_one {
    color: white;
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    left: 16px;
    line-height: 60px;
    transition: all 0.9s linear;

}

.sidebar_menu {
    position: fixed;
    left: -400px;
    width: 340px;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.2);
    box-shadow: 0 0 7px rgb(255, 255, 255, 0.2);
    transition: all 0.3s linear;

}

.sidebar_menu .logo {
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 0 5px rgb(255, 255, 255, 0.3);
}

.sidebar_menu .logo a {
    position: absolute;
    left: 50px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.sidebar_menu .btn_two i {
    color: grey;
    font-size: 20px;
    line-height: 60px;
    position: absolute;
    left: 310px;
    opacity: 0;
    cursor: pointer;
}

.sidebar_menu .menu {
    position: absolute;
    width: 100%;
    top: 80px;
}

.sidebar_menu .menu li {
    margin-top: 6px;
    padding: 12px 20px;
}

.sidebar_menu .menu i,
a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.sidebar_menu .menu i {
    padding-right: 8px;
}

.sidebar_menu .social_media {
    color: white;
    opacity: 0.5;
    position: absolute;
    left: 25%;
    bottom: 30px;

}

.sidebar_menu .social_media i {
    color: white;
    opacity: 0.9;
    padding: 0 5px;
}

#check {
    display: none;
}

.sidebar_menu .menu li:hover {
    box-shadow: 0 0 5px rgb(255, 255, 255, 0.5);
}

.btn_one i:hover {
    font-size: 30px;
}

.btn_two i:hover {
    font-size: 25px;
}

.sidebar_menu .social_media i:hover {
    opacity: 1;
    transform: scale(1.5);
}

#check:checked~.sidebar_menu {
    left: 0;
}

#check:checked~.btn_one i {
    opacity: 0;
}

#check:checked~.sidebar_menu .btn_two i {
    opacity: 1;
}